<!doctype html>
<html>
<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/sys/jquery-1.8.2.min.js"></script>
    <script src="/sys/angular.1.0.2.min.js"></script>

    <link rel="stylesheet" href="/css/angular-ui-0.3.1.min.css">
    <script src="/sys/angular-ui-0.3.1.min.js"></script>
    <script src="/sys/angular-ui-ieshiv-0.3.1.min.js"></script>

    <script src="/js/angular-datagrid/angular-datagrid.js"></script>
<!--    <script src="/js/angular-datagrid/handsontable/lib/jquery.min.js"></script> -->
    <script src="/js/angular-datagrid/handsontable/jquery.handsontable.js"></script>
    <script src="/js/angular-datagrid/handsontable/lib/bootstrap-typeahead.js"></script>
    <script src="/js/angular-datagrid/handsontable/lib/jQuery-contextMenu/jquery.contextMenu.js"></script>
    <script src="/js/angular-datagrid/handsontable/lib/jQuery-contextMenu/jquery.ui.position.js"></script>
    <link rel="stylesheet" media="screen" href="/js/angular-datagrid/handsontable/lib/jQuery-contextMenu/jquery.contextMenu.css">
    <link rel="stylesheet" media="screen" href="/js/angular-datagrid/handsontable/jquery.handsontable.css">
    <script src="/js/jsondiffpatch.js"></script>
    <script src="/js/jsonpatch.js"></script>
    <script src="/js/appContext.js"></script>
    <script src="/js/serverScope.js"></script>

    <script src="/js/main.js"></script>
</head>

<body>

    <div ng-app="ng-remote" server-scope ng-controller="MyCtrl" class="container">

        <h1>Starcounter BETA 2 Demo</h1>
        <hr />

        <h4>Order {{OrderNo}}</h4>

          <div ui-datagrid datarows="item in Items">
                <datacolumn value="item.Product._Search" live strict title="'Product'" type="'autocomplete'">
                    <optionlist datarows="option in item.Product._Options" clickrow="option.Pick = '$$null'">
                        <img src="{{option.Image}}" style="width: 16px; height: 16px"> {{option.Description}}
                    </optionlist>
                </datacolumn>
                <datacolumn value="item.Quantity" title="'Quantity'"/>
            </div>
        <!--
           <datagrid datarows="item in Items">
                <datacolumn value="item.Product._Search" title="Product" type="'autocomplete'">
                    <optionsgrid datarows="option in Options" clickRow="option.Pick=true">
                        <datacolumn value="option.Description">
                        <datacolumn value="option.Image">
                    </optionsgrid>
                </datacolumn>
                <datacolumn value="item.Quantity" title="Quantity"/>
            </datagrid>
-->
        <h4>Total: {{Total}}</h4>

        <div class="btn-group">
            <button ng-click="Save = !Save" class="btn btn-primary">Save</button>
            <button ng-click="Cancel = !Cancel" class="btn">Cancel</button>
        </div>
    </div>

</body>
</html>
